/*@media screen and (max-width: 768px) {*/
    body {
        background-color: var(--BG-1, #131619);
        font-family: IBM Plex Mono, Ubuntu, monospace;
        overflow-x: hidden;
        margin: 0 auto;
    }
    header {
        display: flex;
        padding: 0 1.5rem;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }
    .header-nav {
        display: flex;
        padding: 1.5rem 0;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border-bottom: 1px solid var(--Grey);
    }
    .nav-links a,
    .nav-bar svg {
        display: none;
    }
    .nav-button > p{
        display: none;
    }
    .logo-code {
        color: var(--Brand-1)
    }
    .logo-name {
        color: var(--White, var(--White, #FFF));
        font-family: IBM Plex Mono, monospace;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
        text-transform: capitalize;
    }
    .translate-menu-icon {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    .translate-menu-icon > a {
        display: flex;
        align-items: center;
    }
    .translate-button {
        width: 20px;
        height: 20px;
        align-self: center;
    }
    .menu-icon {
        color: var(--White);
    }
    .navigation-bar,
    .hero-bg-title{
        display: none;
    }
    .hero-section {
        display: flex;
        padding: 4rem 0;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 4rem;
        align-self: stretch;
        flex-wrap: wrap;
    }
    .profile-left {
        display: flex;
        width: 20rem;
        height: 32.5rem;
        padding: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        border-radius: 10rem 0;
        border: 2px solid var(--White, #FFF);
        background: var(--BG-1, #131619);
        box-shadow: -2px -2px 1px 0 #30F711;
    }
    .profile-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .photo-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .profile-picture {
        display: flex;
        width: 6rem;
        height: 6rem;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 4rem;
        border: 2px solid var(--Brand-1, #30F711);
    }
    .name-stack {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile-name {
        color: var(--White, var(--White, #FFF));
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.625rem;
        text-transform: capitalize;
    }
    .profile-job-description {
        color: var(--White, var(--White, #FFF));
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
    }
    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .profile-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .texts {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .profile-text-icon {
        display: flex;
        width: 0.875rem;
        height: 0.875rem;
        justify-content: center;
        align-items: center;
        color: var(--Brand-1);
    }
    .profile-inner-texts {
        color: var(--White, var(--White, #FFF));
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem; /* 128.571% */
    }
    .profile-label {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }
    .profile-labels {
        display: flex;
        padding: 0 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 0.5rem;
        background: var(--Brand-1, #30F711);
    }
    .cv-button {
        display: flex;
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 2rem;
        background: var(--White, #FFF);
    }
    .profile-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    .profile-title-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .profile-right-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }
    .profile-title-code {
        color: var(--Brand-2, #44FF27);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
    }
    .profile-right-title-text {
        display: flex;
        padding: 0 1rem;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
    }
    .profile-right-title-text > span {
        color: var(--White, var(--White, #FFF));
        font-family: Ubuntu, monospace;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.25rem;
    }
    .profile-right-title-text > span .profile-right-name {
        color: var(--Brand-1, var(--White, #30F711));
    }
    .profile-right-paragraph {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        align-self: stretch;
    }
    .paragraph-text {
        display: flex;
        padding: 0 1.5rem;
        align-items: flex-start;
    }
    .paragraph-inner-text {
        width: 17.5rem;
        color: var(--White, var(--White, #FFF));
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
    .CTA {
        display: flex;
        padding-left: 1.5rem;
        align-items: center;
        gap: 1rem;
    }
    .profile-right-talk {
        color: var(--Brand-1, #30F711);
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.625rem;
        text-transform: capitalize;
    }
    .button-CTA {
        display: flex;
        padding: 0.5rem;
        align-items: flex-start;
        border-radius: 2.5rem;
        background: var(--Grey, #43454D);
    }
    .button-CTA-icon {
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    .highlights {
        display: flex;
        padding: 3rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        border-radius: 5rem;
        background: var(--BG-2, #1A1E23);
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .language,.tools,.experience {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .highlight-numbers {
        color: var(--Brand-1, #30F711);
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 3.875rem;
        text-transform: capitalize;
    }
    .highlight-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .highlight-texts {
        color: var(--White, var(--White, #FFF));
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
    .about-me {
        display: flex;
        padding: 4rem 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        align-self: stretch;
        background-color: #1A1E23;
    }

    .about-me-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 4rem;
        align-self: stretch;
        flex-wrap: wrap;
    }
    .about-me-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .about-me-title {
        display: flex;
        padding: 1rem 2.5rem;
        align-items: flex-start;
        border-radius: 2.5rem 0;
        border: 4px solid var(--Brand-1, #30F711);
        background: var(--BG-1, #131619);
    }
    .about-me-title span {
        color: var(--White, var(--White, #FFF));
        font-family: Ubuntu;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.25rem;
    }
    .about-me-text {
        display: flex;
        padding: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 2.5rem;
        background: var(--BG-1, #131619);
    }
    .about-me-description {
        max-width: 22.5rem;
        color: var(--White, var(--White, #FFF));
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
    .about-me-description-title {
        color: var(--Brand-1, var(--White, #30F711));
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.625rem;
        text-transform: capitalize;
    }
    .about-me-description * {
        margin-bottom: 1rem;
    }
    .about-me-image {
        display: flex;
        width: 17rem;
        height: 22.75rem;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 1rem;
    }
    .skills {
        position: relative;
        overflow: hidden;
        display: flex;
        padding: 4rem 1.5rem;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        background-color: #292F36;
    }
    .skills:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.1;
        background-image: url(index/ruby-code-bg-small.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
    }
    .skills-container {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        align-self: stretch;
    }
    .skills-title-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
    }
    .skills-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .skills-title h3 {
        color: var(--Brand-1, #30F711);
        font-family: Ubuntu;
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 4.5rem;
        text-transform: capitalize;
    }
    .skills-description {
        flex: 1 0 0;
        color: var(--White, var(--White, #FFF));
        text-align: center;
        font-family: IBM Plex Mono;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
    .skills-cards-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5.625rem;
    }
    .skills-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .skill-card {
        display: flex;
        padding: 1rem 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border-radius: 0.5rem;
        background: var(--Brand-2, #44FF27);
    }
    .skill-card-icons {
        display: flex;
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
    }
    .skill-card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    .skill-card-title {
        width: 15rem;
        color: var(--BG-1, #131619);
        text-align: center;
        font-family: IBM Plex Mono;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        text-transform: capitalize;
    }
    .skill-card-description {
        color: var(--Grey, #43454D);
        text-align: center;
        font-family: IBM Plex Mono;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
    .skills-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .skills-icons-line {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 4rem;
    }
    .skill-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .skill-icons {
        display: flex;
        padding: 1.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 5rem;
    }

    .skill-icon-html {
        background: #E54F26;
    }

    .skill-icon-css {
        background: #0C73B8;
    }

    .skill-icon-js {
        background: #E7A020;
    }

    .skill-icon-react {
        background: #28A9E0;
    }

    .skill-text {
        font-family: IBM Plex Mono;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.625rem;
        text-transform: capitalize;
    }
    .skill-text-html {
        color: #E54F26;
    }

    .skill-text-css {
        color: #0C73B8;
    }

    .skill-text-js {
        color: #E7A020;
    }

    .skill-text-react {
        color: #28A9E0;
    }
    .works {
        display: flex;
        padding: 4rem 1.5rem;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        align-self: stretch;
        background-color: #1A1E23;
    }
    .works-title-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
    }
    .works-title-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .works-title-icon h4 {
        color: var(--Brand-1, #30F711);
        font-family: Ubuntu;
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 4.5rem;
        text-transform: capitalize;
    }
    .works-description {
        flex: 1 0 0;
        color: var(--White, var(--White, #FFF));
        text-align: center;
        font-family: IBM Plex Mono;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
    .works-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
    }
    .works-wrapper-button {
        display: flex;
        padding: 0.5rem;
        align-items: center;
        border-radius: 3rem;
        background: var(--BG-1, #131619);
    }
    .works-button {
        display: flex;
        width: 1.25rem;
        height: 1.25rem;
        justify-content: center;
        align-items: center;
    }
    .works-button svg {
        width: 1.25rem;
        height: 1.25rem;
        flex-shrink: 0;
    }
    .works-projects {
        align-self: stretch;
        overflow: hidden;
        border-radius: 0.5rem;
    }
    .works-projects-image {
        object-fit: cover;
    }
    .contact {
        display: flex;
        padding: 4rem 1.5rem 2rem 1.5rem;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        align-self: stretch;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        align-self: stretch;
    }
    .contact-title-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        align-self: stretch;
    }
    .contact-title-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .contact-title-icon h5 {
        color: var(--Brand-1, #30F711);
        font-family: Ubuntu;
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 4.5rem;
        text-transform: capitalize;
    }
    .contact-description p {
        flex: 1 0 0;
        color: var(--White, var(--White, #FFF));
        text-align: center;
        font-family: IBM Plex Mono;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem; /* 125% */
    }
    .send-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        align-self: stretch;
    }
    .send-message-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        align-self: stretch;
    }
    .send-message-title {
        display: flex;
        padding: 1rem 2.5rem;
        flex-direction: column;
        align-items: center;
        border-radius: 2rem 0;
        border: 2px solid var(--Brand-1, #30F711);
    }
    .send-message-title h6 {
        color: var(--Brand-1, #30F711);
        text-align: center;
        font-family: IBM Plex Mono;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        text-transform: capitalize;
    }
    .send-message-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        width: 100%
    }
    .message-name-email {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }
    .send-messages {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        border-bottom: 1px solid var(--Brand-1);
        flex-shrink: 1;
        width: 100%;
    }
    .send-messages-label {
        color: var(--Brand-1, #30F711);
        font-family: Ubuntu;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.125rem;
    }
    .send-messages-input {
        color: var(--White, var(--White, #FFF));
        font-family: Ubuntu;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.125rem;
        width: 100%;
    }
    .message-content-message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        border-bottom: 1px solid var(--Brand-1);
        width: 100%;
    }
    .message-content-message > textarea {
        color: var(--White, var(--White, #FFF));
        font-family: Ubuntu;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.125rem;
        width: 100%;
    }
    .form-submit-btn {
        display: flex;
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 2rem;
        background: var(--Brand-1, #30F711);
    }
    .form-submit-btn > span {
        color: var(--BG-1, #131619);
        font-family: Ubuntu;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        text-transform: capitalize;
    }
    .form-submit-btn > svg {
        display: flex;
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
        align-items: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        align-self: stretch;
        border-top: 1px solid var(--Grey);
        padding-top: 2rem;
    }
    .footer-container {
        display: flex;
        padding: 0rem 1.5rem;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        align-self: stretch;
    }
    .footer-media {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
    }
    .footer-medias {
        display: flex;
        padding: 0.5rem;
        justify-content: center;
        align-items: flex-start;
        border-radius: 3rem;
        background: var(--Brand-2, #44FF27);
    }
    .footer-medias svg {
        display: flex;
        width: 1rem;
        height: 1rem;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .footer-info p {
        color: var(--White, var(--White, #FFF));
        font-family: Ubuntu;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.125rem; /* 112.5% */
    }
    .footer-info-policy {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .footer-design p {
        color: var(--White, var(--White, #FFF));
        text-align: center;
        font-family: Ubuntu;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.125rem;
    }
/*}*/