@media screen and (min-width: 768px) {
    header {
        padding: 0 2rem;
    }
    .header-nav {
        padding: 1.5rem 0;
    }
    .logo-code {
        color: var(--Brand-1, #30F711);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        text-transform: capitalize;
    }
    .logo-name {
        color: var(--White, var(--White, #FFF));
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        text-transform: capitalize;
    }
    .nav-bar {
        display: flex;
        align-items: center;
        gap: 4rem;
    }
    .header-nav .menu-icon {
        display: none;
    }
    header .header-nav a,
    .nav-bar svg {
        display: inline;
        color: white;
    }
    .nav-links {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.1rem;
    }
    .nav-buttons {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .hero-section {
        padding: 4rem 4rem;
    }
    .content {
        gap: 4rem;
    }
    .profile-left {
        border-radius: 10rem 0;
        border: 4px solid var(--White, #FFF);
        background: var(--BG-1, #131619);
        box-shadow: -4px -4px 2px 0 #30F711;
    }
    .profile-right-title-text > span {
        color: var(--White, var(--White, #FFF));
        font-family: Ubuntu, monospace;
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 4.5rem;
        text-transform: capitalize;
    }
    .paragraph-inner-text {
        width: 37.5rem;
        color: var(--White, var(--White, #FFF));
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
    .about-me {
        padding: 4rem;
    }
    .about-me-title {
        align-self: flex-start;
    }
    .about-me-title span {
        font-size: 4rem;
        line-height: 4.5rem;
        text-transform: capitalize;
    }
    .about-me-text {
        padding: 1.5rem 2.5rem;
        gap: 1rem;
    }
    .about-me-description {
        max-width: 48.75rem;
    }
    .about-me-image {
        width: 28.875rem;
        height: 34.75rem;
    }
    .skills-cards {
    flex-direction: row;
    }
    .skill-icons {
        padding: 2.5rem;
    }
    .works {
        padding: 4rem;
    }
    .works-content {
        padding: 2rem 0;
        gap: 2rem;
    }
    .works-wrapper-button {
        padding: 1rem;
    }
    .works-button {
        width: 2.5rem;
        height: 2.5rem;
    }
    .works-button svg {
        width: 2.5rem;
        height: 2.5rem;
    }
    .works-projects {
    }
    .contact-container {
        width: 45rem;
        align-self: center;
    }
    .send-message-info {
        padding: 0 64px;
    }
    .footer-info {
        flex-direction: row;
        justify-content: space-between;
        align-items: normal;
    }
}